.about {
    position: relative;
    min-height: 100vh;
    color: var(--foreground);
    background-color: var(--surface-bg);
    z-index: 2;

    padding: 5%;
    width: 100%;

    h1 {
        font-size: max(20vw, 14vh);
        margin-bottom: 10vh;
    }

    p {
        display: block;
        font-size:  max(2vh, 1.5vw);
        font-weight: 300;
        text-align: justify;
        padding-bottom: 1em;
    }
}