.hero, .canvas-wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.canvas-wrapper {
  height: 70%;

  canvas {
    touch-action: none;
    width: 52%;
  }
}

.spin {
  position: absolute;
  bottom: 20%;
}

.theme-button{
  position: absolute;
  border: 1px solid var(--foreground);
  width: 50px;
  height: 50px;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 4;
  backdrop-filter: blur(20px);
  border-radius: 3px;
}

.background-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: calc(100vw/ 4);
  overflow: hidden;
  text-align: center;

  -webkit-user-select: none;      
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  color: black;
  text-shadow:
      -1.5px -1.5px 0 var(--foreground),  
      1.5px -1.5px 0 var(--foreground),
      -1.5px 1.5px 0 var(--foreground),
      1.5px 1.5px 0 var(--foreground);
}


.scroll-down {
  position: absolute;
  bottom: 2%;
  font-size: 20px;
  font-weight: 300;
  color: black;

}

.border {
  position: absolute;
  border: 2px solid black;
  
  height: 20%;
  width: 20%;
}

.top-left{
  top: 2%;
  left: 2%;
  border-right: none;
  border-bottom: none;
}

.bottom-right {
  bottom: 2%;
  right: 2%;
  border-left: none;
  border-top: none;
}

@media screen and (max-aspect-ratio: 1/1) {
  .background-text {
    font-size: calc(100vh/8);
    flex-direction: column;
  }
  .canvas-wrapper {
    width: 50%;
    height: 40%;
  }
  .spin{
    display: none;
  }

  .scroll-down {
    top: 2%;
    bottom: auto;
  }
}
