.hero, .canvas-wrapper  {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-button{
  position: absolute;
  border: 1px solid var(--foreground);
  width: 50px;
  height: 50px;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 4;
  backdrop-filter: blur(20px);
  border-radius: 3px;
}

.background-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: calc(100vw/ 3);
  overflow: hidden;
  text-align: center;

  color: black;
  text-shadow:
      -1.5px -1.5px 0 var(--foreground),  
      1.5px -1.5px 0 var(--foreground),
      -1.5px 1.5px 0 var(--foreground),
      1.5px 1.5px 0 var(--foreground);
}

@media screen and (max-aspect-ratio: 1/1) {
  .background-text {
    font-size: calc(100vh/8);
    flex-direction: column;
  }
  .canvas-wrapper {
    width: 60%;
    height: 60%;
  }
}