@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 300ms;
}

:root {
  --background: white;
  --foreground: black;
  --surface-bg: #f9f1f1;
  --surface-fg: #36454F;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

html, body {
  min-height: fit-content;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: pan-y;
}

[data-theme="dark"] html, [data-theme="dark"] body {
  touch-action: none;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}
