.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.spinner {
    width: 50px;
    height: 50px;
    color: white;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}